.inventory-container {
    display: flex;
  }

  .main-content {
    flex: 1;
    padding: 20px;
  }

  .search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .custom-table {
    margin-top: 20px;
  }

  .medication-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .modal-header {
    background-color: #007bff;
    color: white;
  }
