.all-carts-page-container {
    padding: 20px;
  }

  .main-content {
    margin-left: 250px; /* Adjust based on your sidebar width */
  }

  .medication-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }

  .table td {
    vertical-align: middle; /* Align content vertically in the middle */
  }

  .modal-body {
    padding: 20px;
  }

  .modal-footer {
    justify-content: space-between;
  }

  /* Style the time input */
  input[type="time"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  /* Style the "Add Another Time" button */
  .btn-secondary {
    margin-top: 10px;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .custom-table th {
    background-color: #02487a;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }

  .custom-table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Medication Image Styling */
  .medication-image {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
  }

  /* Button Styling */
  .btn-primary {
    background-color:#02487a;
    border-color: #02487a;
    font-size: 14px;
    padding: 8px 16px;
  }

  .btn-primary:hover {
    background-color: #02487a;;
    border-color:#02487a;;
  }
